<div class="row">
	<div class="col-md-6">
		<div class="text-xs-right mb-1">
			<button class="btn btn-secondary" (click)="resetAll()">Clear</button>
		</div>
		<textarea [(ngModel)]="caseText" class="form-control" rows="12" placeholder="Type or paste your content here to convert"></textarea>
		<div class="text-muted">
			<small>Total Characters: {{caseTextLen}}</small>
		</div>
		<div class="my-1">
			<div>
				<label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" [(ngModel)]="isSpacialRemove">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Remove all spacial characters (Including all special <code>&ndash;,&amp;, &quot;, &#183;,</code> etc but <code>Not Space</code>)</span>
				</label>
			</div>
			<div>
				<label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" [(ngModel)]="isSpaceRemove">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Remove extra spaces</span>
				</label>
			</div>
			<div>
				<label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" [(ngModel)]="isNumericRemove">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Remove all numeric characters (All numbers like 1,2,3,etc)</span>
				</label>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="text-xs-right mb-1">
			<button class="btn btn-primary" type="button" ngxClipboard [cbContent]="convertedText">Copy</button>
		</div>
		<textarea class="form-control" rows="12" [value]="convertedText" readonly></textarea>
		<div class="text-muted"><small>Total Characters: {{convertedTextLen}}</small></div> 		
	</div>
</div>

<section>
	<button class="btn btn-outline-primary mb-1" (click)="caseUpper()">UPPERCASE</button>
	<button class="btn btn-outline-primary mb-1" (click)="caseLower()">lowercase</button>
	<button class="btn btn-outline-primary mb-1" (click)="caseTitle()">Title Case</button>
	<button class="btn btn-outline-primary mb-1" (click)="caseSnake()">snake_case</button>
	<button class="btn btn-outline-primary mb-1" (click)="caseScreamingSnake()">SCREAMING_SNAKE_CASE</button>
	<button class="btn btn-outline-primary mb-1" (click)="uCaseCamel()">UpperCamelCase</button>
	<button class="btn btn-outline-primary mb-1" (click)="lCaseCamel()">LowerCamelCase</button>
	<button class="btn btn-outline-primary mb-1" (click)="singleSpace()">single space</button>
	<button class="btn btn-outline-primary mb-1" (click)="seoUrl()">SEO friendly url</button>
</section>